<template>
  <div id="findClients" class="overflow-auto fixed h-[100vh] w-full">
    <div v-for="user in usersComputed" :key="user">
      <div
        v-if="hideMe(user)"
        class="flex w-full p-4 items-center cursor-pointer"
        @click="createNewChat(user)"
      >
        <img
          class="rounded-full mr-4 w-12"
          :src="user.picture || ''"
          alt="Foto do usuário"
        />
        <div class="w-full">
          <div class="flex justify-between items-center">
            <div class="text-[15px] text-gray-600">{{ user.name }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { computed, ref } from "vue";
import { useUserStore } from "@/store/user-store";
import { storeToRefs } from "pinia";
const userStore = useUserStore();
const { sub, userDataForChat, allUsers, removeUsersFromFindClients } =
  storeToRefs(userStore);
let users = ref([]);

const hideMe = (user) => {
  if (user.sub === sub.value) {
    return false;
  }
  return true;
};

const createNewChat = (user) => {
  userDataForChat.value = [];
  userDataForChat.value.push({
    id: "",
    sub1: sub.value,
    sub2: user.sub,
    name: user.name,
    isDone: false,
    picture: user.picture,
  });
};

const usersComputed = computed(() => {
  allUsers.value.forEach((user) => users.value.push(user));
  removeUsersFromFindClients.value.forEach((remove) => {
    let index = users.value.findIndex((user) => user.sub === remove);
    users.value.splice(index, 1);
  });
  return users.value;
});
</script>

<style lang="scss" scoped></style>
