<template>
  <div class="flex">
    <!-- Conferir esse header -->
    <div
      class="bg-white border-r-2 h-[100vh] w-[60px] px-2 py-3 flex flex-col items-center justify-between"
    >
      <div class="flex flex-col items-center">
        <img class="pb-8" src="/logo.svg" alt="3C+" />
        <span class="flex flex-col gap-4">
          <img src="/phone.svg" alt="Telefone" />
          <img src="/whatsapp.svg" alt="Whatsapp" />
        </span>
      </div>
      <img src="/user.png" alt="Menu do usuário" />
    </div>
    <div id="Header" class="flex z-10">
      <div class="px-2 w-[340px] border-r-2">
        <div
          class="bg-white w-full flex justify-between items-center px-6 py-4"
        >
          <h1
            class="font-medium text-[16px] w-[270px] pb-3 border-b border-[#E1E9F4]"
          >
            Omnichannel 3C+
          </h1>
        </div>

        <div id="Search" class="bg-white w-full">
          <div class="px-1 m-2 flex items-center justify-center rounded-md">
            <MagnifyIcon fill-color="#515151" :size="25" class="ml-2" />
            <input
              class="ml-5 apperance-none w-full py-1.5 px-2.5 leading-tight focus:outline-none focus:shadow-outline placeholder:text-[#373753]"
              autocomplete="off"
              placeholder="Pesquisar"
              type="text"
              @click="showFindClients = !showFindClients"
            />
            <button class="bg-[#3057F2] rounded-xl px-[9px] py-[8px]">
              <PlusIcon :size="25" fill-color="white" />
            </button>
          </div>

          <div class="border-b border-[#E1E9F4]">
            <ul class="flex justify-between pb-0 text-[14px]">
              <li class="border-b border-[#3057F2] text-[#3057F2] pb-1">
                Conversas
                <span class="rounded-full bg-[#E1E9F4] p-1 w-[20px] text-[10px]"
                  >10</span
                >
              </li>
              <li class="pb-1">
                Grupos
                <span class="rounded-full bg-[#E1E9F4] p-1 w-[20px] text-[10px]"
                  >04</span
                >
              </li>
              <li class="pb-1">
                Fila
                <span class="rounded-full bg-[#E1E9F4] p-1 w-[20px] text-[10px]"
                  >25</span
                >
              </li>
              <li class="pb-1"><DotsHorizontalIcon fill-color="#677C92" /></li>
            </ul>
          </div>
          <div v-if="showFindClients">
            <FindClientsView />
          </div>
          <div v-else>
            <ChatsView />
          </div>
        </div>
      </div>
    </div>

    <div>
      <MessageView />
    </div>
  </div>
</template>

<script setup>
import ChatsView from "./ChatsView.vue";
import MessageView from "./MessageView.vue";
import FindClientsView from "./FindClientsView.vue";
import DotsHorizontalIcon from "vue-material-design-icons/DotsHorizontal.vue";
import MagnifyIcon from "vue-material-design-icons/Magnify.vue";
import PlusIcon from "vue-material-design-icons/Plus.vue";
import { onMounted } from "vue";

import { useUserStore } from "@/store/user-store";
//import { useRouter } from "vue-router";
import { storeToRefs } from "pinia";

//const router = useRouter();
const userStore = useUserStore();
const { showFindClients } = storeToRefs(userStore);

onMounted(async () => {
  try {
    userStore.getAllUsers();
    await userStore.getAllChatsByUser();
  } catch (error) {
    console.log(error);
  }
});

/* const logout = () => {
  let res = confirm("Você tem certeza que deseja sair?");
  if (res) userStore.logout();
  router.push("/login");
};*/
</script>

<style lang="scss" scoped></style>
