<template>
  <div class="w-full">
    <div class="bg-[#E1E9F4] z-[-1] w-full h-full fixed bottom-0"></div>

    <div class="max-w-xl mx-auto">
      <div class="mt-10 flex items-center w-full">
        <h1 class="font-semibold ml-6">Omnichannel 3C+</h1>
      </div>

      <div class="bg-white rounded-xl shadow z-10 p-24 m-6 mt-10">
        <div class="flex justify-center pb-10">
          <img width="100" src="/logo.svg" alt="3C+" />
        </div>
        <div class="w-full flex justify-center bg-white p-3 rounded-md">
          <GoogleLogin :callback="callback" />
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { useUserStore } from "@/store/user-store";
import { useRouter } from "vue-router";
const userStore = useUserStore();
const router = useRouter();

const callback = async (response) => {
  await userStore.getUserDetailsFromGoogle(response);
  setTimeout(() => {
    router.push("/");
  }, 200);
};
</script>
