<template>
  <div v-if="userDataForChat.length" class="w-full">
    <div class="w-full">
      <div id="BG"></div>
      <div class="w-full">
        <div
          class="bg-white fixed z-10 min-w-[calc(100vw-400px)] min-h-[56px] flex flex-wrap justify-between items-center px-2 py-2 rounded-br-xl border-b-2"
        >
          <div class="flex items-center">
            <img
              v-if="userDataForChat[0] && userDataForChat[0].picture"
              class="rounded-full mx-1 w-10"
              :src="userDataForChat[0].picture"
              alt="Foto do usuário"
            />
            <div
              v-if="userDataForChat[0] && userDataForChat[0].name"
              class="ml-1 font-medium text-[16px] border-b-1 border-[#E1E9F4] min-w-[200px]"
            >
              {{ userDataForChat[0].name }} <br />
              <small class="font-regular text-[#677C92]"
                >Agente: Alanis Machado</small
              >
            </div>
          </div>

          <div class="flex gap-2">
            <button
              class="flex gap-1 items-center bg-[#3057F2] text-white rounded-xl px-[9px] py-[8px] w-[100px] hover:bg-blue-500"
              @click="finishChat"
            >
              <CheckCircleOutlineIcon /> Finalizar
            </button>
            <DotsHorizontalIcon
              fill-color="#677C92"
              class="cursor-pointer bg-[#E1E9F4] rounded-xl px-[9px] py-[8px]"
            />
          </div>
        </div>

        <div
          id="MessagesSection"
          class="mt-[70px] mb-[10px] z-[1] h-[75%] w-[calc(100vw-400px)] overflow-auto fixed todp-[1px] bottom-[160px] scroll-smooth"
        >
          <div v-if="currentChat && currentChat.length" class="text-sm">
            <div class="flex justify-center flex-col z-[12] items-center mb-2">
              <span class="bg-white px-3 py-1 rounded-xl text-black mb-2"
                >Hoje</span
              >
              <span class="bg-white px-3 py-1 rounded-xl text-black"
                >Início do chamado pelo cliente. Protocolo:
                {{ currentChat[0].sub1 }} - 12:54
              </span>
            </div>
            <div v-for="msg in currentChat[0].messages" :key="msg">
              <div
                v-if="msg.sub === sub"
                class="flex w-full justify-end pr-[24px]"
              >
                <div
                  v-if="msg.file"
                  class="inline-block bg-[#E1E9F4] max-w-[600px] shadow break-words text-[15px] rounded-l-md rounded-tr-md p-2 my-1"
                >
                  <a
                    :href="msg.file"
                    target="_blank"
                    class="flex items-center bg-blue-600 text-white p-2 rounded-xl hover:bg-blue-500"
                    :download="msg.fileName"
                  >
                    <FileIcon />
                    {{ msg.fileName }}
                  </a>
                  <small class="text-[10.75px] opacity-70">{{
                    createdAt(msg)
                  }}</small>
                </div>
                <div
                  v-else-if="msg.internal"
                  class="inline-block bg-[#FFE9A9] max-w-[600px] shadow break-words text-[15px] rounded-l-md rounded-tr-md p-2 my-1"
                >
                  <b>Mensagem interna: </b> {{ msg.message }}
                  <small class="text-[10.75px] opacity-70">{{
                    createdAt(msg)
                  }}</small>
                </div>
                <div
                  v-else
                  class="inline-block bg-[#E1E9F4] max-w-[600px] shadow break-words text-[15px] rounded-l-md rounded-tr-md p-2 my-1"
                >
                  {{ msg.message }}
                  <small class="text-[10.75px] opacity-70">{{
                    createdAt(msg)
                  }}</small>
                </div>
              </div>

              <div v-else class="flex float-right w-full pl-[24px]">
                <div
                  v-if="msg.file"
                  class="inline-block bg-white border border-[#E1E9F4] max-w-[600px] break-words text-[15px] p-2 rounded-tl-md rounded-r-md my-1"
                >
                  <a
                    :href="msg.file"
                    class="flex items-center bg-gray-400 text-white p-2 rounded-xl hover:bg-gray-300"
                    download="{{ msg.fileName }}"
                  >
                    <FileIcon />
                    {{ msg.fileName }}
                  </a>
                  <small class="text-[10.75px] opacity-70">{{
                    createdAt(msg)
                  }}</small>
                </div>
                <div
                  v-if="!msg.internal && !msg.file"
                  class="inline-block bg-white border border-[#E1E9F4] max-w-[600px] break-words text-[15px] p-2 rounded-tl-md rounded-r-md my-1"
                >
                  {{ msg.message }}
                  <small class="text-[10.75px] opacity-70">{{
                    createdAt(msg)
                  }}</small>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="w-[calc(100vw-400px)] h-[170px] p-2.5 z-10 shadow-sm bg-white border-t-2 fixed bottom-0"
        >
          <div v-if="showEmoji">
            <EmojiPicker
              class="fixed bottom-[200px] right-5"
              :native="false"
              @select="onSelectEmoji"
            />
          </div>
          <div class="flex items-center gap-2 mb-2">
            <span class="border-b font-medium w-[calc(100vw-270px)] pb-2 mb-2">
              {{ showInternal ? "Mensagem interna" : "Responder ao Cliente" }}
            </span>
            <img
              v-if="!showInternal"
              class="cursor-pointer"
              src="/internal-message.svg"
              alt="Mensagem interna"
              @click="openInternalMessage"
            />
            <CloseIcon
              v-else
              :size="16"
              fill-color="#BF810A"
              class="cursor-pointer p-2 rounded-lg bg-[#FFBB3A] flex items-center justify-center"
              @click="openInternalMessage"
            />
            <img
              class="cursor-pointer"
              src="/emoji.svg"
              alt="Menu de emojis"
              @click="openEmoji()"
            />
            <input
              ref="file"
              type="file"
              style="display: none"
              @change="handleUploadFiles"
            />
            <button @click="uploadFiles">
              <img
                class="cursor-pointer"
                src="/paperclip.svg"
                alt="Envio de arquivos"
              />
            </button>
          </div>
          <div v-if="showInternal" class="flex items-end justify-center">
            <textarea
              v-model="message"
              class="mr-1 bg-[#FFE9A9] resize-none h-[100px] apperance-none rounded-lg w-full py-3 px-4 leading-tight focus:outline-none focus:shadow-outline"
              autocomplete="off"
              placeholder="Mensagem"
              type="text"
            ></textarea>

            <button
              :disabled="disableBtn"
              type=""
              class="ml-3 p-2 w-12 rounded-xl bg-[#FFE9A9] flex items-center justify-center"
              @click="sendInternalMessage"
            >
              <SendOutlineIcon fill-color="#677C92" />
            </button>
          </div>
          <div v-else class="flex items-end justify-center">
            <textarea
              v-model="message"
              class="mr-1 bg-[#E1E9F4] resize-none h-[100px] apperance-none rounded-lg w-full py-3 px-4 leading-tight focus:outline-none focus:shadow-outline"
              autocomplete="off"
              placeholder="Mensagem"
              type="text"
              @keydown="inputHandler"
            ></textarea>

            <button
              :disabled="disableBtn"
              type=""
              class="ml-3 p-2 w-12 rounded-xl bg-[#E1E9F4] flex items-center justify-center"
              @click="sendMessage"
            >
              <SendOutlineIcon fill-color="#677C92" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div v-else>
    <div class="fixed w-[calc(100vw-420px)] h-[100vh] bg-gray-100 text-center">
      <div class="grid h-screen place-items-center">
        <div class="w-full flex items-center justify-center">
          <img width="375" src="/logo.svg" alt="3C+" />
        </div>
        <div class="text-[32px] font-light mt-10">
          <h2 class="font-medium">Omnichannel 3C+</h2>
        </div>
        <div class="text-[14px] text-gray-600 mt-2">
          <div>Envie mensagens para seus clientes</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import DotsHorizontalIcon from "vue-material-design-icons/DotsHorizontal.vue";
import CloseIcon from "vue-material-design-icons/Close.vue";
import FileIcon from "vue-material-design-icons/File.vue";
import SendOutlineIcon from "vue-material-design-icons/SendOutline.vue";
import CheckCircleOutlineIcon from "vue-material-design-icons/CheckCircleOutline.vue";
import EmojiPicker from "vue3-emoji-picker";
import "vue3-emoji-picker/css";
import { useUserStore } from "@/store/user-store";
import { ref, watch } from "vue";
import { storeToRefs } from "pinia";
import moment from "moment";

const userStore = useUserStore();
const { sub, userDataForChat, currentChat } = storeToRefs(userStore);

let message = ref("");
let file = ref(null);
let showEmoji = ref(false);
let disableBtn = ref(false);
let showInternal = ref(false);

function openEmoji() {
  showEmoji.value = !showEmoji.value;
}

function onSelectEmoji(emoji) {
  const textarea = document.querySelector("textarea");
  const start = textarea.selectionStart;
  const end = textarea.selectionEnd;
  const text = textarea.value;
  const before = text.substring(0, start);
  const after = text.substring(end, text.length);
  const newCursorPosition = start + emoji.i.length;

  textarea.value = before + emoji.i + after;
  textarea.selectionStart = newCursorPosition;
  textarea.selectionEnd = newCursorPosition;
  textarea.dispatchEvent(new Event("input"));
  textarea.focus();
}

const finishChat = async () => {
  console.log("finished");
  await userStore.finishChat({
    chatId: userDataForChat.value[0].id,
    isDone: true,
  });
};

const openInternalMessage = async () => {
  showInternal.value = !showInternal.value;
};

const uploadFiles = async () => {
  file.value.click();
};

const handleUploadFiles = async () => {
  const selectedFile = file.value.files[0];
  console.log("Arquivo selecionado:", selectedFile);
  await userStore.uploadFiles(selectedFile, userDataForChat.value[0].id);
};

const sendInternalMessage = async () => {
  if (message.value === "") {
    return (disableBtn.value = true);
  }
  await userStore.sendMessage({
    message: message.value,
    internal: true,
    sub2: userDataForChat.value[0].sub2,
    chatId: userDataForChat.value[0].id,
  });
  message.value = "";
  disableBtn.value = false;
};

const sendMessage = async () => {
  if (message.value === "") {
    return (disableBtn.value = true);
  }
  await userStore.sendMessage({
    message: message.value,
    internal: false,
    sub2: userDataForChat.value[0].sub2,
    chatId: userDataForChat.value[0].id,
  });
  message.value = "";
  disableBtn.value = false;
};

watch(
  () => currentChat.value,
  (chat) => {
    if (chat.length) {
      setTimeout(() => {
        let objDiv = document.getElementById("MessagesSection");
        objDiv.scrollTop = objDiv.scrollHeight;
      }, 50);
    }
  },
  { deep: true },
);

const inputHandler = (e) => {
  if (e.keyCode === 13 && !e.shiftKey) {
    e.preventDefault();
    sendMessage();
  }
};

const createdAt = (msg) => {
  return moment(msg.createdAt).format("HH:MM");
};
</script>

<style>
#BG {
  background: url("/Background.png") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

#MessagesSection::-webkit-scrollbar {
  width: 6px;
}

#MessagesSection::-webkit-scrollbar-track {
  background: transparent;
  width: 5px;
}

#MessagesSection::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

#MessagesSection::-webkit-scrollbar-thumb:hover {
  background: #555;
}
</style>
