<template>
  <div
    v-if="!chat.isDone"
    :class="isActive ? 'bg-[#E1E9F4] w-full px-2 rounded-xl' : 'w-full px-2'"
  >
    <div class="px-4 py-3 flex items-center cursor-pointer">
      <img class="rounded-full mr-4 w-12" :src="chat.user.picture || ''" />
      <div class="w-full">
        <div class="flex justify-between items-center">
          <div class="text-[15px] font-medium">
            {{ chat.user.name }}
          </div>
          <div class="text-[12px]">
            {{ lastCreatedAt(chat) }}
          </div>
        </div>

        <div class="flex items-center">
          <div class="text-[15px] w-full flex items-center justify-between">
            {{ lastChatMessage(chat) }}
          </div>
        </div>
      </div>
    </div>

    <div class="border-b w-[calc(100%-80px)] float-right"></div>
  </div>
</template>

<script setup>
import { toRefs, computed } from "vue";
import moment from "moment";
import { useUserStore } from "../store/user-store";
import { storeToRefs } from "pinia";
const userStore = useUserStore();
const { userDataForChat, sub } = storeToRefs(userStore);

const props = defineProps({ chat: Object });
const { chat } = toRefs(props);

const isActive = computed(() => {
  if (userDataForChat.value.length) {
    if (userDataForChat.value[0].sub1 === chat.value.user.sub) {
      return true;
    }
    if (userDataForChat.value[0].sub2 === chat.value.user.sub) {
      return true;
    }
  }
  return false;
});

const lastChatMessage = (chat) => {
  const msg = chat.messages[chat.messages.length - 1];
  let lastMsg = msg.message;
  if (msg.file) {
    return msg.fileName;
  }
  if (msg.message.length > 20) {
    lastMsg = msg.message.substring(0, 20) + "...";
  }
  if (msg.sub === sub.value) {
    return "Você: " + lastMsg;
  }
  return lastMsg;
};

const lastCreatedAt = (chat) => {
  const today = new Date();
  const todayFormatted =
    today.getDate() + " " + (today.getMonth() + 1) + " " + today.getFullYear();
  const timestamp = chat.messages[chat.messages - 1];

  if (chat.messages.length) {
    const createdAt = moment(timestamp).format("DD MM YYYY");
    if (todayFormatted < createdAt) {
      return moment(timestamp).format("DD/MM");
    } else {
      return moment(timestamp).format("HH:MM");
    }
  }
};
</script>
