@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cerebri Sans Pro";
  src:
    url("./assets/fonts/CerebriSansPro-Regular.woff2") format("woff2"),
    url("./assets/fonts/CerebriSansPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cerebri Sans Pro";
  src:
    url("./assets/fonts/CerebriSansPro-Medium.woff2") format("woff2"),
    url("./assets/fonts/CerebriSansPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cerebri Sans Pro";
  src:
    url("./assets/fonts/CerebriSansPro-Bold.woff2") format("woff2"),
    url("./assets/fonts/CerebriSansPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Cerebri Sans Pro";
  color: #1b1b2b;
}
